<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>39 주문서 리스트</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_2.css') }}">
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
</head>
<body>

<div class="wrap">

    <div class="section--top">
        <img src="{{ url_for('static', filename='img/39logo.png') }}">
    </div>

    <div class="section--middle">
        <div class="txtBox-wrap--1">
            <div class="txtBox box--1">
                <span>주문날짜</span>
            </div>
            <div class="txtBox box--2">
                <span>제품명</span>
            </div>
            <div class="txtBox box--3">성명</div>
            <div class="txtBox box--4">연락처</div>
            <div class="txtBox box--5">주소</div>
            <div class="txtBox box--6">비고</div>
            <div class="txtBox box--7">배송예정일</div>
        </div>
    </div>

</div>

</body>
</html>