<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
</head>

<body>
<div class="wrap">

    <section>
        <div class="section-inner">
            <div class="bg-wrap">
                <div class="bg1">
                    <img src="{{ url_for('static', filename='img/bg-1.jpeg') }}">
                </div>
                <div class="logo">
                    <img src="{{ url_for('static', filename='img/logo.png') }}">
                </div>
            </div>
            <div class="portfolio-wrap">
                <div class="portfolio-inner">
                    <div class="text">
                        <img src="{{ url_for('static', filename='img/text.png') }}">
                    </div>
                    <div class="frame-inner">
                        <div class="frame-item--1">
                            <img src="{{ url_for('static', filename='img/frame-1.png') }}">
                        </div>
                        <div class="frame-item--2">
                            <img src="{{ url_for('static', filename='img/frame-2.png') }}">
                        </div>
                        <div class="frame-item--3">
                            <img src="{{ url_for('static', filename='img/frame-3.png') }}">
                        </div>
                        <div class="frame-item--4">
                            <img src="{{ url_for('static', filename='img/frame-4.png') }}">
                        </div>
                    </div>
                </div>
            </div>
            <div class="moon-wrap">
                <div class="moon-inner">
                    <div class="moon-item--1">
                        <img src="{{ url_for('static', filename='img/moon-1.png') }}">
                    </div>
                    <div class="moon-item--2">
                        <img src="{{ url_for('static', filename='img/moon-2.png') }}">
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section>
        <div class="section-inner">
            <div class="bg2">
                <img src="{{ url_for('static', filename='img/bg-2.jpeg') }}">
            </div>
        </div>
    </section>

</div>


{#    <div class="">#}
{#        <img src="{{ url_for('static', filename='img/bg-2.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-3.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-4.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-5.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-6.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-7.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-8.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-9.jpeg') }}">#}
{#        <img src="{{ url_for('static', filename='img/bg-10.jpeg') }}">#}
{#    </div>#}

</div>

</body>
</html>