<!doctype html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>39 주문서</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/reset.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style_1.css') }}">
    <script type="text/javascript">
        window.onload = function () {
            today = new Date();
            console.log("today.toISOString() >>>" + today.toISOString());
            today = today.toISOString().slice(0, 10);
            console.log("today >>>> " + today);
            bir = document.getElementById("todayDate");
            bir.value = today;
        }
    </script>
    <script src="{{ url_for('static', filename='js/jquery-3.6.0.min.js') }}"></script>
</head>
<body>

<div class="wrap">

    <div class="section--top">
        <button class="port--btn" type="button">
            <img src="{{ url_for('static', filename='img/39logo.png') }}">
        </button>
    </div>

    <div class="section--middle">
        <div class="txtBox-wrap--1">
            <div class="txtBox box--1">
                <span>ORDER</span>
            </div>
            <div class="txtBox box--2">
                <span>오더 메이드 상품 주문서입니다.</span>
            </div>
            <div class="txtBox box--3">
                <span>제품명:</span> <!--<input class="underline" id="product" type="text" value="">-->
                <select name="" id="product-list"> <!-- D:: select+ tab -->
                </select>
            </div>
        </div>
    </div>

    <div class="section--middle2">
        <div class="txtBox-wrap--2">
            <div class="txtBox2 box--4">
                <span>성명</span>&nbsp;&nbsp;&nbsp;<input class="underline" id="name" type="text" value="">
            </div>
            <div class="txtBox2 box--5">
                <span>연락처</span>&nbsp;&nbsp;&nbsp;<input class="underline" id="ph" type="text" value="">
            </div>
        </div>
        <div class="txtBox-wrap--3">
            <div class="txtBox3 box--6">
                <span>주소</span>&nbsp;&nbsp;&nbsp;<input class="underline" id="address" type="text" value="" size="51">
            </div>
            <div class="txtBox3 box--7">
                <span>비고</span>&nbsp;&nbsp;&nbsp;<input class="underline" id="etc" type="text" value="" size="51">
            </div>
        </div>
    </div>

    <div class="section--bottom">
        <div class="txtBox-wrap--4">
            <div class="txtBox4 box--8">
                <span>구매하신 제품은 주문일 기준 <u>&nbsp;&nbsp;&nbsp;&nbsp;</u>일 소요될 예정이며, 예상 배송일은 <u>&nbsp;&nbsp;&nbsp;&nbsp;</u>입니다. 출고 후 남겨주신 연락처로 송장번호를 보내드립니다.</span>
            </div>
            <div class="txtBox4 box--9">
                <span>궁금하신 점이 있으시면 <span style="font-weight:bold">info@39etc.com</span> 또는 <span
                        style="font-weight:bold">070-4056-0039</span> (이촌 쇼룸 / 수요일 휴무 / 오후 1시-오후 6시), 인스타그램 <span
                        style="font-weight:bold">@39etc</span>로 다이렉트 메세지 부탁드립니다.</span>
            </div>
            <div class="txtBox4 box--10">
                <span>주문 제작 상품의 경우 교환 및 환불이 어렵습니다.</span>
            </div>
            <div class="txtBox4 box--11">
                <span>인쇄에 사용되는 종이, 전력을 절약하고 분실의 위험을 막기 위해 주문서는 이메일로 발송됩니다.</span>
            </div>
        </div>

        <div class="txtBox-wrap--5">
            <div class="txtBox5 box--12">
                <input class="hide" id="todayDate" type="date">
            </div>
        </div>

        <div class="txtBox-wrap--6">
            <div class="txtBox6 box--13" id="port--1">
                <div class="txtBox6 box--13">
                    <span class="product"></span>
                </div>
                <div class="txtBox6 box--14">
                    <span class="name"></span>
                </div>
                <div class="txtBox6 box--15">
                    <span class="ph"></span>
                </div>
                <div class="txtBox6 box--16">
                    <span class="address"></span>
                </div>
                <div class="txtBox6 box--17">
                    <span class="etc"></span>
                </div>
                <div class="txtBox6 box--18">
                    <span class="day"></span>
                </div>
                <div class="txtBox6 box--19">
                    <span class="day2"></span>
                </div>
                <div class="txtBox6 box--20">
                    <span class="date"></span>
                </div>
            </div>
        </div>
    </div>

</div>


<script>

    // function getToday() {
    //
    //     let date = new Date();
    //     let year = date.getFullYear();
    //     let month = new String(date.getMonth() + 1);
    //     let day = new String(date.getDate());
    //     if (month.length == 1) {
    //         month = '0' + month;
    //     }
    //     if (day.length == 1) {
    //         day = '0' + day;
    //     }
    //     return year + '-' + month + '-' + day;
    // }
    //
    // var dateToday = $(this).val();
    // $('.date').text(dateToday);

    $(document).ready(function () {

        $.ajax({
            type: "GET",
            url: "productList.json",
            data: {},
            success: function (data) {
                let rows = data["productList"]["row"];
                for (let i = 0; i < rows.length; i++) {
                    let productName = rows[i]['name'];
                    let productPrice = rows[i]['price'];
                    var htmlTmp = `<option class="hide" value="">${productName}</option>`
                    $('#product-list').append(htmlTmp);
                }
            }
        });


        $('#product-list').on('change keyup', function () {
            var numChange1 = $(this).val();
            // $('.product').text(numChange1);
            console.log(numChange1);
        });

        $('#name').on('change keyup', function () {
            var numChange2 = $(this).val();
            $('.name').text(numChange2);
        });

        $('#ph').on('change keyup', function () {
            var numChange3 = $(this).val();
            $('.ph').text(numChange3);
        });

        $('#address').on('change keyup', function () {
            var numChange4 = $(this).val();
            $('.address').text(numChange4);
        });

        $('#etc').on('change keyup', function () {
            var numChange5 = $(this).val();
            $('.etc').text(numChange5);
        });

        $('#day').on('change keyup', function () {
            var numChange6 = $(this).val();
            $('.day').text(numChange6);
        });

        $('#day2').on('change keyup', function () {
            var numChange7 = $(this).val();
            $('.day2').text(numChange7);
        });


        $(".port--btn").on('click', function () {
            var port1 = $("#port--1").text();
            var checkInput1 = $('.box--4').find('input').val();
            var checkInput2 = $('.box--5').find('input').val();
            var checkInput3 = $('.box--6').find('input').val();
            if (checkInput1 == "") {
                alert('이름를 입력하세요.')
            } else if (checkInput2 == "") {
                alert('연락처를 입력하세요.')
            } else if (checkInput3 == "") {
                alert('주소를 입력하세요.')
            } else if (checkInput4 == "") {
                alert('배송일을 입력하세요.')
            } else {
                console.log(port1);
            }
        });

    })
    ;

</script>

</body>
</html>